.body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
        background-color: black;
      }
table {
      	border-spacing: 0.5rem;
        border: 4px solid mediumblue;
      }
#on_off {
     	}
     
#market {
     	}
#minutely_chart {
     	}
     
#time_left {
     	}
#pace {
     	}
#low_bin_flight_rating {
     	}
#high_bin_flight_rating {
     	}
#total_market_value {
     	}
#deal_spotter {
     	}
#low_bin_panic_alarm {
     	}
#high_bin_panic_alarm {
     	}
#1cent_alarm {
     	}
#delete_alarm {
     	}
#history {
     	}     
#pace_relative_to_history {
     	}
